.clientContainer {
  display: flex;
  padding: 2rem;
  gap: 3rem;
  align-items: center;
}

.clientSpeech {
  text-align: center;
}
.AccIncubators {
  text-decoration: none;
  color: #206ecf;
  padding: 1rem;
}

.clientPhoto {
  height: 50px;
}

#clientPhotoID {
  width: auto;
  height: 100%;
}

.clientCarousel {
  padding: 1rem;
}

.callToAction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 5rem 1rem;
}

#clientPar {
  color: #6b788a;
  font-weight: bold;
}

#contactButton {
  text-decoration: none;
  color: #206ecf;
  padding: 1rem 1.5rem;
  border-radius: 9px;
}

#contactButton:hover {
  background-color: #206ecf;
  color: white;
}

#demoRequest {
  text-decoration: none;
  color: white;
  background-color: #206ecf;
  padding: 1rem 1.5rem;
  border-radius: 9px;
}

#demoRequest:hover {
  border: 1px solid #206ecf;
  color: #206ecf;
  background-color: transparent;
}

.actionButtons {
  display: flex;
  gap: 2rem;
}

/* Mobile version */
@media (max-width: 880px) {
  .clientContainer {
    flex-direction: column;
  }
  #contactButton {
    padding: 0.5rem;
    align-self: center;
  }
  #demoRequest {
    padding: 0.5rem;
    align-self: center;
  }
}
