.incubator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 53.1348px 51.3636px;
  gap: 8.86px;

  position: absolute;
  left: 0%;
  right: 83.72%;
  top: 210%;
  bottom: 1%;
  height: 1rem;
  width: 4rem;
}

.startup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 53.1348px 51.3636px;
  gap: 8.86px;

  position: absolute;
  left: 20.88%;
  right: 62.83%;
  top: 205%;
  bottom: 1%;
  height: 1rem;
  width: 4rem;
}

.corporations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 53.1348px 51.3636px;
  gap: 8.86px;

  position: absolute;
  left: 41.86%;
  right: 41.86%;
  top: 200%;
  bottom: 1%;
  height: 1rem;
  width: 4rem;
}

.openChallenge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 53.1348px 51.3636px;
  gap: 8.86px;

  position: absolute;
  left: 62.83%;
  right: 20.88%;
  top: 205%;
  bottom: 1%;
  height: 1rem;
  width: 4rem;
}

.investor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 53.1348px 51.3636px;
  gap: 8.86px;

  position: absolute;
  left: 83.72%;
  right: 0%;
  top: 210%;
  bottom: 1%;
  height: 1rem;
  width: 4rem;
}
